{% extends 'index.html' %}


{% block title %}
    <title>Python index page</title>
{% endblock title %}
    
    

{% block content %}
<div class="tab-content">
    <div class="gallery-wrap">
        <div class="gallery-wrap-inner">
        <h4>Jobs: Python3</h4>
        <div class="dots-custom-lifestyle"></div><a class="back-to-gallery button-link button-link-icon" href="/"><span>back to gallery</span></a>
        </div>
        <div class="gallery-wrap-inner">
        <!-- Owl Carousel-->
        <div class="owl-carousel owl-gallery" data-items="1" data-dots="true" data-nav="false" data-stage-padding="0" data-loop="false" data-margin="0" data-mouse-drag="false" data-lightgallery="group" data-pagination-class=".dots-custom-lifestyle">
            <div>
                <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-lifestyle-01-970x524.jpg') }}" data-lightgallery="item">
                <figure><img src="{{ url_for('static', filename='images/gallery-lifestyle-01-970x524.jpg') }}" alt="" width="970" height="524" />
                </figure>
                <div class="button-item text-center my-2">
                <a class="btn1" href="">Go to the site 1</a>
                </div>
            </div>
                <figure><img src="{{ url_for('static', filename='images/gallery-portrait-02-970x524.jpg') }}" alt="" width="970" height="524"/>
                <div class="button-item text-center my-2">
                <a class="btn1" href="">Go to the site 2</a>
                </div>
            </figure>
            <figure><img src="{{ url_for('static', filename='images/gallery-portrait-03-970x524.jpg') }}" alt="" width="970" height="524"/>
                <div class="button-item text-center my-2">
                <a class="btn1" href="">Go to the site 3</a>
                </div>
            </figure>
        </div>
        </div>
    </div>
</div>
{% endblock content %}
    