<div class="tab-content">
    <div class="tab-pane fade" id="tabs-gallery-1">
      <div class="gallery-wrap">
        <div class="gallery-wrap-inner">
          <h4>Jobs: Python3</h4>
          <div class="dots-custom-lifestyle"></div><a class="back-to-gallery button-link button-link-icon" href="#"><span class="novi-icon icon icon-primary fa fa-angle-left"></span><span>back to main page</span></a>
        </div>
        <div class="gallery-wrap-inner">
          <!-- Owl Carousel-->
          <div class="owl-carousel owl-gallery" data-items="1" data-dots="true" data-nav="false" data-stage-padding="0" data-loop="false" data-margin="0" data-mouse-drag="false" data-lightgallery="group" data-pagination-class=".dots-custom-lifestyle">

              <figure><img src="{{ url_for('static', filename='images/gallery-lifestyle-01-970x524.jpg') }}" alt="" />

              </figure>
              
              <!-- <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-lifestyle-01-970x524.jpg') }}" data-lightgallery="item"> -->
              <figure><img src="{{ url_for('static', filename='images/gallery-lifestyle-01-970x524.jpg') }}" alt="" width="970" height="524"/>
              <div class="align-content-center"><h4><a href="http://htmlbook.ru/html/area/alt">Go to the site>2</a></h4></div>
              </figure>
              <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-lifestyle-02-970x524.jpg') }}" data-lightgallery="item">
              <figure><img src="{{ url_for('static', filename='images/gallery-lifestyle-02-970x524.jpg') }}" alt="" width="970" height="524"/>
              </figure>
              <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-lifestyle-03-970x524.jpg') }}" data-lightgallery="item">
              <figure><img src="{{ url_for('static', filename='images/gallery-lifestyle-03-970x524.jpg') }}" alt="" width="970" height="524"/>
              </figure>
              <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-lifestyle-04-970x524.jpg') }}" data-lightgallery="item">
              <figure><img src="{{ url_for('static', filename='images/gallery-lifestyle-04-970x524.jpg') }}" alt="" width="970" height="524"/>
              </figure>
              <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-lifestyle-05-970x524.jpg') }}" data-lightgallery="item">
              <figure><img src="{{ url_for('static', filename='images/gallery-lifestyle-05-970x524.jpg') }}" alt="" width="970" height="524"/>
              </figure>
              <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-lifestyle-06-970x524.jpg') }}" data-lightgallery="item">
              <figure><img src="{{ url_for('static', filename='images/gallery-lifestyle-06-970x524.jpg') }}" alt="" width="970" height="524"/>
              </figure>
              <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-lifestyle-08-970x524.jpg') }}" data-lightgallery="item">
              <figure><img src="{{ url_for('static', filename='images/gallery-lifestyle-08-970x524.jpg') }}" alt="" width="970" height="524"/>
              </figure>
              
          </div>
        </div>
      </div>
    </div>
    <!--Portrait-->
    <div class="tab-pane fade" id="tabs-gallery-2">
      <div class="gallery-wrap">
        <div class="gallery-wrap-inner">
          <h4>Jobs: Flask</h4>
          <div class="dots-custom-portrait"></div><a class="back-to-gallery button-link button-link-icon" href="#"><span class="novi-icon icon icon-primary fa fa-angle-left"></span><span>back to main page</span></a>
        </div>
        <div class="gallery-wrap-inner">
          <!-- Owl Carousel-->

          <div class="owl-carousel owl-gallery" data-items="1" data-dots="true" data-nav="false" data-stage-padding="0" data-loop="false" data-margin="0" data-mouse-drag="false" data-lightgallery="group" data-pagination-class=".dots-custom-portrait">

              <figure><img src="{{ url_for('static', filename='images/gallery-lifestyle-01-970x524.jpg') }}" alt="" />
              </figure>
              <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-portrait-01-970x524.jpg') }}" data-lightgallery="item">
              <figure><img src="{{ url_for('static', filename='images/gallery-portrait-02-970x524.jpg') }}" alt="" width="970" height="524"/>
              </figure>
              <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-portrait-03-970x524.jpg') }}" data-lightgallery="item">
              <figure><img src="{{ url_for('static', filename='images/gallery-portrait-03-970x524.jpg') }}" alt="" width="970" height="524"/>
              </figure>
              <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-portrait-04-970x524.jpg') }}" data-lightgallery="item">
              <figure><img src="{{ url_for('static', filename='images/gallery-portrait-04-970x524.jpg') }}" alt="" width="970" height="524"/>
              </figure>
              <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-portrait-05-970x524.jpg') }}" data-lightgallery="item">
              <figure><img src="{{ url_for('static', filename='images/gallery-portrait-05-970x524.jpg') }}" alt="" width="970" height="524"/>
              </figure>
              <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-portrait-06-970x524.jpg') }}" data-lightgallery="item">
              <figure><img src="{{ url_for('static', filename='images/gallery-portrait-06-970x524.jpg') }}" alt="" width="970" height="524"/>
              </figure>
              <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-portrait-07-970x524.jpg') }}" data-lightgallery="item">
              <figure><img src="{{ url_for('static', filename='images/gallery-portrait-07-970x524.jpg') }}" alt="" width="970" height="524"/>
              </figure>
              </a><a class="gallery-item" href="{{ url_for('static', filename='images/gallery-portrait-08-970x524.jpg') }}" data-lightgallery="item">
              <figure><img src="{{ url_for('static', filename='images/gallery-portrait-08-970x524.jpg') }}" alt="" width="970" height="524"/>
              </figure>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="tabs-gallery-3">
      <div class="gallery-wrap">
        <div class="gallery-wrap-inner">
          <h4>Jobs: Django</h4>
          <div class="dots-custom-fashion"></div><a class="back-to-gallery button-link button-link-icon" href="#"><span class="novi-icon icon icon-primary fa fa-angle-left"></span><span>back to main page</span></a>
        </div>
        <div class="gallery-wrap-inner">
          <!-- Owl Carousel-->
          <div class="owl-carousel owl-gallery" data-items="1" data-dots="true" data-nav="false" data-stage-padding="0" data-loop="false" data-margin="0" data-mouse-drag="false" data-lightgallery="group" data-pagination-class=".dots-custom-fashion"><a class="gallery-item" href="{{ url_for('static', filename='images/django1.png') }}" data-lightgallery="item">

              <figure><img src="{{ url_for('static', filename='images/django1.png') }}" alt=""/>

              </figure>

              <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-fashion-01-970x524.jpg') }}" data-lightgallery="item">
              
              <figure><img src="{{ url_for('static', filename='images/gallery-fashion-01-970x524.jpg') }}" alt="" width="970" height="524"/>
              </figure>
              <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-fashion-02-970x524.jpg') }}" data-lightgallery="item">
              <figure><img src="{{ url_for('static', filename='images/gallery-fashion-02-970x524.jpg') }}" alt="" width="970" height="524"/>
              </figure>
              <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-fashion-04-970x524.jpg') }}" data-lightgallery="item">
              <figure><img src="{{ url_for('static', filename='images/gallery-fashion-04-970x524.jpg') }}" alt="" width="970" height="524"/>
              </figure>
              <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-fashion-05-970x524.jpg') }}" data-lightgallery="item">
              <figure><img src="{{ url_for('static', filename='images/gallery-fashion-05-970x524.jpg') }}" alt="" width="970" height="524"/>
              </figure>
              <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-fashion-06-970x524.jpg') }}" data-lightgallery="item">
              <figure><img src="{{ url_for('static', filename='images/gallery-fashion-06-970x524.jpg') }}" alt="" width="970" height="524"/>
              </figure>
              <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-fashion-07-970x524.jpg') }}" data-lightgallery="item">
              <figure><img src="{{ url_for('static', filename='images/gallery-fashion-07-970x524.jpg') }}" alt="" width="970" height="524"/>
              </figure>
              <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-fashion-08-970x524.jpg') }}" data-lightgallery="item">
              <figure><img src="{{ url_for('static', filename='images/gallery-fashion-08-970x524.jpg') }}" alt="" width="970" height="524"/>
              </figure>
          </div>
        </div>
      </div>
    </div>
    <!--nature-->
    <div class="tab-pane fade" id="tabs-gallery-4">
      <div class="gallery-wrap">
        <div class="gallery-wrap-inner">
          <h4>Jobs: C/C#</h4>
          <div class="dots-custom-nature"></div><a class="back-to-gallery button-link button-link-icon" href="#"><span class="novi-icon icon icon-primary fa fa-angle-left"></span><span>back to main page</span></a>
        </div>
        <div class="gallery-wrap-inner">
          <!-- Owl Carousel-->
          <div class="owl-carousel owl-gallery" data-items="1" data-dots="true" data-nav="false" data-stage-padding="0" data-loop="false" data-margin="0" data-mouse-drag="false" data-lightgallery="group" data-pagination-class=".dots-custom-nature"><a class="gallery-item" href="{{ url_for('static', filename='images/gallery-nature-07-970x524.jpg') }}" data-lightgallery="item">
              <figure><img src="{{ url_for('static', filename='images/gallery-nature-07-970x524.jpg') }}" alt="" width="970" height="524"/>
              </figure>
              <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-nature-01-970x524.jpg') }}" data-lightgallery="item">
              <figure><img src="{{ url_for('static', filename='images/gallery-nature-01-970x524.jpg') }}" alt="" width="970" height="524"/>
              </figure>
              <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-nature-02-970x524.jpg') }}" data-lightgallery="item">
              <figure><img src="{{ url_for('static', filename='images/gallery-nature-02-970x524.jpg') }}" alt="" width="970" height="524"/>
              </figure>
              <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-nature-03-970x524.jpg') }}" data-lightgallery="item">
              <figure><img src="{{ url_for('static', filename='images/gallery-nature-03-970x524.jpg') }}" alt="" width="970" height="524"/>
              </figure>
              <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-nature-04-970x524.jpg') }}" data-lightgallery="item">
              <figure><img src="{{ url_for('static', filename='images/gallery-nature-04-970x524.jpg') }}" alt="" width="970" height="524"/>
              </figure>
              <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-nature-05-970x524.jpg') }}" data-lightgallery="item">
              <figure><img src="{{ url_for('static', filename='images/gallery-nature-05-970x524.jpg') }}" alt="" width="970" height="524"/>
              </figure>
              <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-nature-06-970x524.jpg') }}" data-lightgallery="item">
              <figure><img src="{{ url_for('static', filename='images/gallery-nature-06-970x524.jpg') }}" alt="" width="970" height="524"/>
              </figure>
              <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-nature-08-970x524.jpg') }}" data-lightgallery="item">
              <figure><img src="{{ url_for('static', filename='images/gallery-nature-08-970x524.jpg') }}" alt="" width="970" height="524"/>
              </figure>
              
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="tabs-gallery-5">
      <div class="gallery-wrap">
        <div class="gallery-wrap-inner">
          <h4>Jobs: JavaScript</h4>
          <div class="dots-custom-city"></div><a class="back-to-gallery button-link button-link-icon" href="#"><span class="novi-icon icon icon-primary fa fa-angle-left"></span><span>back to main page</span></a>
        </div>
        <div class="gallery-wrap-inner">
          <!-- Owl Carousel-->
          <div class="owl-carousel owl-gallery" data-items="1" data-dots="true" data-nav="false" data-stage-padding="0" data-loop="false" data-margin="0" data-mouse-drag="false" data-lightgallery="group" data-pagination-class=".dots-custom-city">
              <figure><img src="{{ url_for('static', filename='images/javascript1.png') }}" alt="" width="970" height="524"/>
              </figure>
              <a class="gallery-item" href="images/gallery-city-01-970x524.jpg" data-lightgallery="item">
              <figure><img src="{{ url_for('static', filename='images/gallery-city-01-970x524.jpg') }}" alt="" width="970" height="524"/>
              </figure>
              <a class="gallery-item" href="images/gallery-city-03-970x524.jpg" data-lightgallery="item">
              <figure><img src="{{ url_for('static', filename='images/gallery-city-03-970x524.jpg') }}" alt="" width="970" height="524"/>
              </figure>
              <a class="gallery-item" href="images/gallery-city-04-970x524.jpg" data-lightgallery="item">
              <figure><img src="{{ url_for('static', filename='images/gallery-city-04-970x524.jpg') }}" alt="" width="970" height="524"/>
              </figure>
              <a class="gallery-item" href="images/gallery-city-05-970x524.jpg" data-lightgallery="item">
              <figure><img src="{{ url_for('static', filename='images/gallery-city-05-970x524.jpg') }}" alt="" width="970" height="524"/>
              </figure>
              <a class="gallery-item" href="images/gallery-city-06-970x524.jpg" data-lightgallery="item">
              <figure><img src="{{ url_for('static', filename='images/gallery-city-06-970x524.jpg') }}" alt="" width="970" height="524"/>
              </figure>
              <a class="gallery-item" href="images/gallery-city-07-970x524.jpg" data-lightgallery="item">
              <figure><img src="{{ url_for('static', filename='images/gallery-city-07-970x524.jpg') }}" alt="" width="970" height="524"/>
              </figure>
              
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="tabs-gallery-6">
      <div class="gallery-wrap">
        <div class="gallery-wrap-inner">
          <h4>Jobs: React</h4>
          <div class="dots-custom-city"></div><a class="back-to-gallery button-link button-link-icon" href="#"><span class="novi-icon icon icon-primary fa fa-angle-left"></span><span>back to main page</span></a>
        </div>
        <div class="gallery-wrap-inner">
          <!-- Owl Carousel-->
          <div class="owl-carousel owl-gallery" data-items="1" data-dots="true" data-nav="false" data-stage-padding="0" data-loop="false" data-margin="0" data-mouse-drag="false" data-lightgallery="group" data-pagination-class=".dots-custom-city"><a class="gallery-item" href="images/gallery-city-02-970x524.jpg" data-lightgallery="item">
              <figure><img src="{{ url_for('static', filename='images/gallery-city-02-970x524.jpg') }}" alt="" width="970" height="524"/>
              </figure>
              <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-city-01-970x524.jpg') }}" data-lightgallery="item">
              <figure><img src="{{ url_for('static', filename='images/gallery-city-01-970x524.jpg') }}" alt="" width="970" height="524"/>
              </figure>
              <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-city-03-970x524.jpg') }}" data-lightgallery="item">
              <figure><img src="{{ url_for('static', filename='images/gallery-city-03-970x524.jpg') }}" alt="" width="970" height="524"/>
              </figure>
              <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-city-04-970x524.jpg') }}" data-lightgallery="item">
              <figure><img src="{{ url_for('static', filename='images/gallery-city-04-970x524.jpg') }}" alt="" width="970" height="524"/>
              </figure>
              <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-city-05-970x524.jpg') }}" data-lightgallery="item">
              <figure><img src="{{ url_for('static', filename='images/gallery-city-05-970x524.jpg') }}" alt="" width="970" height="524"/>
              </figure>
              <a class="gallery-item" href=="{{ url_for('static', filename='images/gallery-city-06-970x524.jpg') }}" data-lightgallery="item">
              <figure><img src="{{ url_for('static', filename='images/gallery-city-06-970x524.jpg') }}" alt="" width="970" height="524"/>
              </figure>
              <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-city-07-970x524.jpg') }}" data-lightgallery="item">
              <figure><img src="{{ url_for('static', filename='images/gallery-city-07-970x524.jpg') }}" alt="" width="970" height="524"/>
              </figure>
          </div>
        </div>
      </div>
    </div>
  </div>