
  <!--Portrait-->
  <div class="tab-pane fade" id="tabs-gallery-2">
    <div class="gallery-wrap">
      <div class="gallery-wrap-inner">
        <h4>Jobs: Flask</h4>
        <div class="dots-custom-portrait"></div><a class="back-to-gallery button-link button-link-icon" href="#"><span class="novi-icon icon icon-primary fa fa-angle-left"></span><span>back to gallery</span></a>
      </div>
      <div class="gallery-wrap-inner">
        <!-- Owl Carousel-->
        <div class="owl-carousel owl-gallery" data-items="1" data-dots="true" data-nav="false" data-stage-padding="0" data-loop="false" data-margin="0" data-mouse-drag="false" data-lightgallery="group" data-pagination-class=".dots-custom-portrait"><a class="gallery-item" href="{{ url_for('static', filename='images/django1.png') }}" data-lightgallery="item">
          <figure><img src="{{ url_for('static', filename='images/django1.png') }}" alt=""/>
          </figure>
          <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-fashion-01-970x524.jpg') }}" data-lightgallery="item">
          <figure><img src="{{ url_for('static', filename='images/gallery-fashion-01-970x524.jpg') }}" alt="" width="970" height="524"/>
          </figure>
          <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-fashion-02-970x524.jpg') }}" data-lightgallery="item">
          <figure><img src="{{ url_for('static', filename='images/gallery-fashion-02-970x524.jpg') }}" alt="" width="970" height="524"/>
          </figure>
          <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-fashion-04-970x524.jpg') }}" data-lightgallery="item">
          <figure><img src="{{ url_for('static', filename='images/gallery-fashion-04-970x524.jpg') }}" alt="" width="970" height="524"/>
          </figure>
          <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-fashion-05-970x524.jpg') }}" data-lightgallery="item">
          <figure><img src="{{ url_for('static', filename='images/gallery-fashion-05-970x524.jpg') }}" alt="" width="970" height="524"/>
          </figure>
          <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-fashion-06-970x524.jpg') }}" data-lightgallery="item">
          <figure><img src="{{ url_for('static', filename='images/gallery-fashion-06-970x524.jpg') }}" alt="" width="970" height="524"/>
          </figure>
          <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-fashion-07-970x524.jpg') }}" data-lightgallery="item">
          <figure><img src="{{ url_for('static', filename='images/gallery-fashion-07-970x524.jpg') }}" alt="" width="970" height="524"/>
          </figure>
          <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-fashion-08-970x524.jpg') }}" data-lightgallery="item">
          <figure><img src="{{ url_for('static', filename='images/gallery-fashion-08-970x524.jpg') }}" alt="" width="970" height="524"/>
          </figure>
            <div class="caption"><span class="icon novi-icon fa-expand"></span></div></a>
        </div>
      </div>
    </div>
  </div>
  <!--Fashion-->
  <div class="tab-pane fade" id="tabs-gallery-3">
    <div class="gallery-wrap">
      <div class="gallery-wrap-inner">
        <h4>Jobs: Django3</h4>
        <div class="dots-custom-fashion"></div><a class="back-to-gallery button-link button-link-icon" href="#"><span class="novi-icon icon icon-primary fa fa-angle-left"></span><span>back to gallery</span></a>
      </div>
      <div class="gallery-wrap-inner">
        <!-- Owl Carousel-->
        
        <div class="owl-carousel owl-gallery" data-items="1" data-dots="true" data-nav="false" data-stage-padding="0" data-loop="false" data-margin="0" data-mouse-drag="false" data-lightgallery="group" data-pagination-class=".dots-custom-fashion">
            <figure><img src="{{ url_for('static', filename='images/gallery-nature-07-970x524.jpg') }}" alt="" width="970" height="524"/>
              <div class="button-item text-center my-2">
                <a class="btn1" href="https://dartblog.herokuapp.com/">Go to the site: DartBlog</a>
              </div>
            </figure>
            <figure><img src="{{ url_for('static', filename='images/gallery-nature-01-970x524.jpg') }}" alt="" width="970" height="524"/>
              <div class="button-item text-center my-2">
                <a class="btn1" href="https://franky-crm1.herokuapp.com/">Go to the site: Crm Denis</a>
              </div>
            </figure>
            <figure><img src="{{ url_for('static', filename='images/gallery-nature-02-970x524.jpg') }}" alt="" width="970" height="524"/>
              <div class="button-item text-center my-2">
                <a class="btn1" href="https://drf-ajax-drf.herokuapp.com/">Go to the site: Ajax-drf-todo</a>
              </div>
            </figure>
            <figure><img src="{{ url_for('static', filename='images/gallery-nature-03-970x524.jpg') }}" alt="" width="970" height="524"/>
              <div class="button-item text-center my-2">
                <a class="btn1" href="https://scrap-job.herokuapp.com/">Go to the site: Drf-find-jobs</a>
              </div>
            </figure>
            <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-nature-04-970x524.jpg') }}" data-lightgallery="item">
            <figure><img src="{{ url_for('static', filename='images/gallery-nature-04-970x524.jpg') }}" alt="" width="970" height="524"/>
            </figure>
            <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-nature-05-970x524.jpg') }}" data-lightgallery="item">
            <figure><img src="{{ url_for('static', filename='images/gallery-nature-05-970x524.jpg') }}" alt="" width="970" height="524"/>
            </figure>
            <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-nature-06-970x524.jpg') }}" data-lightgallery="item">
            <figure><img src="{{ url_for('static', filename='images/gallery-nature-06-970x524.jpg') }}" alt="" width="970" height="524"/>
            </figure>
            <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-nature-08-970x524.jpg') }}" data-lightgallery="item">
            <figure><img src="{{ url_for('static', filename='images/gallery-nature-08-970x524.jpg') }}" alt="" width="970" height="524"/>
            </figure>
            <div class="caption"><span class="icon novi-icon fa-expand"></span></div></a>
        </div>
      </div>
    </div>
  </div>
  <!--nature-->
  <div class="tab-pane fade" id="tabs-gallery-4">
    <div class="gallery-wrap">
      <div class="gallery-wrap-inner">
        <h4>Jobs: C/C#</h4>
        <div class="dots-custom-nature"></div><a class="back-to-gallery button-link button-link-icon" href="#"><span class="novi-icon icon icon-primary fa fa-angle-left"></span><span>back to gallery</span></a>
      </div>
      <div class="gallery-wrap-inner">
        <!-- Owl Carousel-->
        <div class="owl-carousel owl-gallery" data-items="1" data-dots="true" data-nav="false" data-stage-padding="0" data-loop="false" data-margin="0" data-mouse-drag="false" data-lightgallery="group" data-pagination-class=".dots-custom-nature"><a class="gallery-item" href="{{ url_for('static', filename='images/javascript1.png') }}" data-lightgallery="item">
            <figure><img src="{{ url_for('static', filename='images/javascript1.png') }}" alt="" width="970" height="524"/>
            </figure>
            <a class="gallery-item" href="images/gallery-city-01-970x524.jpg" data-lightgallery="item">
            <figure><img src="{{ url_for('static', filename='images/gallery-city-01-970x524.jpg') }}" alt="" width="970" height="524"/>
            </figure>
            <a class="gallery-item" href="images/gallery-city-03-970x524.jpg" data-lightgallery="item">
            <figure><img src="{{ url_for('static', filename='images/gallery-city-03-970x524.jpg') }}" alt="" width="970" height="524"/>
            </figure>
            <a class="gallery-item" href="images/gallery-city-04-970x524.jpg" data-lightgallery="item">
            <figure><img src="{{ url_for('static', filename='images/gallery-city-04-970x524.jpg') }}" alt="" width="970" height="524"/>
            </figure>
            <a class="gallery-item" href="images/gallery-city-05-970x524.jpg" data-lightgallery="item">
            <figure><img src="{{ url_for('static', filename='images/gallery-city-05-970x524.jpg') }}" alt="" width="970" height="524"/>
            </figure>
            <a class="gallery-item" href="images/gallery-city-06-970x524.jpg" data-lightgallery="item">
            <figure><img src="{{ url_for('static', filename='images/gallery-city-06-970x524.jpg') }}" alt="" width="970" height="524"/>
            </figure>
            <a class="gallery-item" href="images/gallery-city-07-970x524.jpg" data-lightgallery="item">
            <figure><img src="{{ url_for('static', filename='images/gallery-city-07-970x524.jpg') }}" alt="" width="970" height="524"/>
            </figure>
            <div class="caption"><span class="icon novi-icon fa-expand"></span></div></a>
        </div>
      </div>
    </div>
  </div>
  <!--city-->
  <div class="tab-pane fade" id="tabs-gallery-5">
    <div class="gallery-wrap">
      <div class="gallery-wrap-inner">
        <h4>Jobs: JavaScript</h4>
        <div class="dots-custom-city"></div><a class="back-to-gallery button-link button-link-icon" href="#"><span class="novi-icon icon icon-primary fa fa-angle-left"></span><span>back to gallery</span></a>
      </div>
      <div class="gallery-wrap-inner">
        <!-- Owl Carousel-->
        <div class="owl-carousel owl-gallery" data-items="1" data-dots="true" data-nav="false" data-stage-padding="0" data-loop="false" data-margin="0" data-mouse-drag="false" data-lightgallery="group" data-pagination-class=".dots-custom-city">
            <figure><img src="{{ url_for('static', filename='images/gallery-city-02-970x524.jpg') }}" alt="" width="970" height="524"/>
              <div class="button-item text-center my-2">
                <a class="btn1" href="https://js2014-f8dc1.web.app/">Js todo</a>
              </div>
            </figure>
            <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-city-01-970x524.jpg') }}" data-lightgallery="item">
            <figure><img src="{{ url_for('static', filename='images/gallery-city-01-970x524.jpg') }}" alt="" width="970" height="524"/>
            </figure>
            <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-city-03-970x524.jpg') }}" data-lightgallery="item">
            <figure><img src="{{ url_for('static', filename='images/gallery-city-03-970x524.jpg') }}" alt="" width="970" height="524"/>
            </figure>
            <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-city-04-970x524.jpg') }}" data-lightgallery="item">
            <figure><img src="{{ url_for('static', filename='images/gallery-city-04-970x524.jpg') }}" alt="" width="970" height="524"/>
            </figure>
            <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-city-05-970x524.jpg') }}" data-lightgallery="item">
            <figure><img src="{{ url_for('static', filename='images/gallery-city-05-970x524.jpg') }}" alt="" width="970" height="524"/>
            </figure>
            <a class="gallery-item" href=="{{ url_for('static', filename='images/gallery-city-06-970x524.jpg') }}" data-lightgallery="item">
            <figure><img src="{{ url_for('static', filename='images/gallery-city-06-970x524.jpg') }}" alt="" width="970" height="524"/>
            </figure>
            <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-city-07-970x524.jpg') }}" data-lightgallery="item">
            <figure><img src="{{ url_for('static', filename='images/gallery-city-07-970x524.jpg') }}" alt="" width="970" height="524"/>
            </figure>
            <div class="caption"><span class="icon novi-icon fa-expand"></span></div></a>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="tabs-gallery-6">
    <div class="gallery-wrap">
      <div class="gallery-wrap-inner">
        <h4>Jobs: React</h4>
        <div class="dots-custom-city"></div><a class="back-to-gallery button-link button-link-icon" href="#"><span class="novi-icon icon icon-primary fa fa-angle-left"></span><span>back to main page</span></a>
      </div>
      <div class="gallery-wrap-inner">
        <!-- Owl Carousel-->
        <div class="owl-carousel owl-gallery" data-items="1" data-dots="true" data-nav="false" data-stage-padding="0" data-loop="false" data-margin="0" data-mouse-drag="false" data-lightgallery="group" data-pagination-class=".dots-custom-city"><a class="gallery-item" href="{{ url_for('static', filename='images/gallery-city-02-970x524.jpg') }}" data-lightgallery="item">
            <figure><img src="{{ url_for('static', filename='images/gallery-city-02-970x524.jpg') }}" alt="" width="970" height="524"/>
            </figure>
            <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-city-01-970x524.jpg') }}" data-lightgallery="item">
            <figure><img src="{{ url_for('static', filename='images/gallery-city-01-970x524.jpg') }}" alt="" width="970" height="524"/>
            </figure>
            <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-city-03-970x524.jpg') }}" data-lightgallery="item">
            <figure><img src="{{ url_for('static', filename='images/gallery-city-03-970x524.jpg') }}" alt="" width="970" height="524"/>
            </figure>
            <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-city-04-970x524.jpg') }}" data-lightgallery="item">
            <figure><img src="{{ url_for('static', filename='images/gallery-city-04-970x524.jpg') }}" alt="" width="970" height="524"/>
            </figure>
            <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-city-05-970x524.jpg') }}" data-lightgallery="item">
            <figure><img src="{{ url_for('static', filename='images/gallery-city-05-970x524.jpg') }}" alt="" width="970" height="524"/>
            </figure>
            <a class="gallery-item" href=="{{ url_for('static', filename='images/gallery-city-06-970x524.jpg') }}" data-lightgallery="item">
            <figure><img src="{{ url_for('static', filename='images/gallery-city-06-970x524.jpg') }}" alt="" width="970" height="524"/>
            </figure>
            <a class="gallery-item" href="{{ url_for('static', filename='images/gallery-city-07-970x524.jpg') }}" data-lightgallery="item">
            <figure><img src="{{ url_for('static', filename='images/gallery-city-07-970x524.jpg') }}" alt="" width="970" height="524"/>
            </figure>
        </div>
      </div>
    </div>
  </div>