<!DOCTYPE html>
<html class="wide" lang="en">
  <head>
    <!-- Site Title-->
    {% block title %}
     <title>Home</title>
    {% endblock title %}
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <!-- Stylesheets-->
    <!-- <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Barlow:100,200,300,400,700"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/">
      <img src="{{ url_for('static', filename='images/ie8-panel/warning_bar_0000_us.jpg') }}" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <!-- Page-->
    <div class="page bg-image novi-background">
      <div class="preloader">
        <div class="preloader-body">
          <div class="cssload-container">
            <div class="cssload-speeding-wheel"></div>
          </div>
          <p>Loading...</p>
        </div>
      </div>
      <header class="section page-header">
        <div class="container">
          <div class="row justify-content-between align-items-end row-30">
            <div class="col-12 col-md-6"><a class="brand-logo" href="./"><img src="{{ url_for('static', filename='images/logo-default-346x62.png') }}" alt="" /></a></div>
            <div class="col-12 col-md-6 col-xl-4">
              <div class="head-title">
                <p>I am a professional specializing <br class="d-none d-md-inline-block">in programming.</p>
              </div>
            </div>
          </div>
        </div>
      </header>
      <section class="section section-xs">
        <div class="container">
          <!-- Bootstrap tabs-->
          <div class="tabs-custom tabs-horizontal tabs-corporate" id="tabs-1">
              <ul class="nav nav-tabs">
                <li class="nav-item" role="presentation"><a class="nav-link" href="/" data-toggle="tab"><span class="nav-link-main">MyWorks</span></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/about_me" data-toggle="tab"><span class="nav-link-main">about me</span></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/services" data-toggle="tab"><span class="nav-link-main">services</span></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/contacts" data-toggle="tab"><span class="nav-link-main">contacts</span></a></li>
              </ul> 
            <div class="tab-content">
              <div class="tab-pane fade show active" id="tabs-1-1">
                <div class="tabs-custom tabs-horizontal tabs-gallery hide-on-modal" id="tabs-galery">
                    {% block content %}
                    <ul class="nav nav-tabs">
                        {% for category in categorys %}

                              <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('category_detail', slug=category.slug) }}" data-toggle="tab"><img src="static/{{category.path}}" alt="" width="180" height="180"/><span>{{ category.title }}</span></a></li>
                          
                        {% endfor %}
                      </ul> 
                    {% endblock content %}
                  </div>
                </div>
              </div>
          </div>
          </div>
        </div>
    </section>
      <footer class="section footer-classic context-dark novi-background">
        <div class="container">
          <div class="footer-group">
            <ul class="list-inline list-inline-xs">
              <li><a class="novi-icon icon-xxs fa-facebook icon" href="#"></a></li>
              <li><a class="novi-icon icon-xxs fa-twitter icon" href="#"></a></li>
              <li><a class="novi-icon icon-xxs fa-google-plus icon" href="#"></a></li>
              <li><a class="novi-icon icon-xxs fa-vimeo icon" href="#"></a></li>
              <li><a class="novi-icon icon-xxs fa-youtube icon" href="#"></a></li>
              <li><a class="novi-icon icon-xxs fa-pinterest-p icon" href="#"></a></li>
            </ul>
            <!-- Rights-->
            <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>.&nbsp;</span><a href="#" data-toggle="modal" data-target="#privacy">Privacy Policy</a>. Design&nbsp;by&nbsp;<a href="">frankyjohn</a></p>
          </div>
        </div>
        <!-- Coded by JeremyLuis-->
      </footer>

      <div class="modal modal-centered slideUp" id="privacy" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="content-box">
              <div class="content-box-inner">
                <div class="row">
                  <div class="col-12">
                    <h3>Privacy Policy</h3>
                    <p>Dastqui dolorem ipsumquia dolsitmet conse tequam eius. Asmodi tempora incid. Dent ut labore t dolore magnam. Naliquam quae. Rat voleneni ullam corporis suscipit labasic ut aliquidea commodi consequatur. Aquis autem vel eum iure reprehenderit, muytasas dresasaser. Esse, quam nihil molestiae consequatur, vel illum. Dastqui dolorem ipsumquia dolsitmet conse tequam eius. Asmodi tempora incid. Dent ut labore t dolore magnam. Naliquam quae.</p>
                    <p>Rat voleneni ullam corporis suscipit labasic ut aliquidea commodi consequatur. Aquis autem vel eum iure reprehenderit. Asas dresasaser. Esse, quam nihil molestiae consequatur, vel illum. Dastqui dolorem ipsumquia dolsitmet conse tequam eius. Asmodi tempora incid. Dent ut labore t dolore magnam. Naliquam quae. Rat voleneni ullam corporis suscipit labasic ut aliquidea commodi consequatur. Aquis autem vel eum iure reprehenderit, muytasas dresasaser. Esse, quam nihil molestiae consequatur, vel illum. Dastqui dolorem ipsumquia dolsitmet conse tequam eius. Asmodi tempo. Asas dresasaser. Esse, quam nihil molestiae consequatur, vel illum. Dastqui dolorem ipsumquia dolsitmet conse tequam eius. Asmodi tempora incid. Dent ut labore t dolore magnam. Naliquam quae. Rat voleneni ullam corporis suscipit labasic ut aliquidea</p>
                  </div>
                </div>
              </div><a class="close-modal-content-box" href="#" data-dismiss="modal">x</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="{{ url_for('static', filename='js/core.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <!-- coded by ragnar-->
  </body>
</html>